.answer {
  outline: 1px solid red;
  font-size: 20px;
  line-height: 1.5;
}
.answer1 {
  outline: 1px solid red;
  line-height: 30px;
}
.answer1-error {
  outline: 1px solid red;
  line-height: 30px;
  font-size: 100px;
}
