.banner-inner {
  height: 512px;
  width: 1300px;
  background-image: url(//g.alicdn.com/hanma-spa/quark-library2/img/header.a755f26f.png);
  h2 {
    // 这里是reset范畴
    margin: 0;
  }
  .title {
    padding: 114px 0 0 110px;
  }
}
